.flex
.flex-center
.flex-center-v
.flex-center-h
.flex-space-around
.flex-space-between
.flex-wrap
.flex-column
.flex-row
.flex-end
  display flex
.flex-center
  justify-content center
  align-items center
.flex-center-v
  align-items center
.flex-center-h
  justify-content center
.flex-space-around
  justify-content space-around
.flex-space-between
  justify-content space-between
.flex-wrap
  flex-wrap wrap
.flex-row
  flex-direction row
.flex-column
  flex-direction column
.flex-end
  justify-content flex-end

.flex-1
  flex 1
